@model mywebsite.Models.Blog
<form asp-action="BlogGuncelle" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CreatedDate" />
    <input type="hidden" asp-for="ImageUrl" /> @* Mevcut resmi kaybetmemek için *@

    <div class="mb-3">
        <label>Mevcut Kapak Fotoğrafı</label><br />
        <img src="@Model.ImageUrl" width="150" class="rounded mb-2" />
        <input type="file" name="ImageFile" class="form-control" />
    </div>
    
    <div class="mb-3">
        <label>İçerik</label>
        <textarea asp-for="Content" id="Content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>

@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor.create(document.querySelector('#Content')).catch(error => console.error(error));
    </script>
}