@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center mt-5">
    <h1 class="display-4">Merhaba, Ben Hasan Demir</h1>
    
    <p class="lead mt-4">
        Yazılım geliştirme serüvenimi, öğrendiklerimi ve projelerimi paylaştığım kişisel web siteme hoş geldiniz.
    </p>
    
    <hr class="my-4">
    
    <p>
        Güncel çalışmalarımı ve teknik notlarımı incelemek isterseniz blog sayfama göz atabilirsiniz.
    </p>
    
    <a class="btn btn-primary btn-lg mt-3" asp-controller="Home" asp-action="Gunluk" role="button">
        Günlüğümü Oku
    </a>
</div>